 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
     font-family: cursive;
     transition: all 1s ease-in-out;
     font-weight: bold;

 }
 
 input{
    cursor: pointer;
 }
 body {
     background-color: #580b6b;
 }

 .logo {
     width: 50px;
     height: 50px;
 }

 .flexItem {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 80px;
 }

 .maininput {

     color: #fff;
     cursor: pointer;


 }

 .mainchoiceL {
     color: #fff;


 }

 .maininput2 {
     color: #fff;
     cursor: pointer;
 }

 .mainchoiceL2 {
     color: #fff;

 }



 .start {
     border-radius: 10px;
     display: block;
     position: absolute;
     /* margin: 10% auto !important; */
     background-color: #fff;
     width: 80%;
     top: 9%;
     left: 10%;
     height: 100vh;
     text-align: center;
     padding: 1%;
     /* overflow: scroll; */
     box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 10%);
     z-index: 52;
 }



 #condition {
     text-align: center;
 }

 .package {
     text-align: center;
 }


img{
    vertical-align: middle;
    border-style: none;
    margin: 50px auto;
    height: 400px;
    width: 400px;
}


 /* .containerF {

     position: absolute;
     display: block;
     padding: 5%;
     background-color: #DDD;
     width: 100%;
     height: 100%;
     overflow: scroll;

 } */
 h1{
    font-weight: bolder;
 }

 #onspot {
     color: #580b6b;
     border-radius: 10px;
     position: absolute;
     /* margin: 10% auto !important; */
     background-color: #fff;
     width: 80%;
     top: 9%;
     left: 10%;
     height: 100vh;
     text-align: center;
     /* padding: 1%; */
     /* overflow: scroll; */
     box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 10%);
     /* z-index: 1; */
     overflow: auto;
     display: block;

 }


 #we {

     border-radius: 10px;
     position: absolute;
     background-color: #fff;
     width: 80%;
     top: 9%;
     left: 10%;
     height: 100vh;
     text-align: center;
     box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 10%);
     overflow: auto;
     display: block;
     color: #580b6b;



 }

 .super {
     width: 400px;
     text-align: center;
 }

 .cases {
     text-align: center;
     text-transform: capitalize;
     font-family: cursive;
 }

 .check {

     font-size: large;
     font-weight: bold;

 }

 .days,
 .gbytes {
     position: absolute;
     text-align: center;
     left: 100px;
 }

 #btn {
     padding: 3px;
     position: absolute;
     text-align: center;
     left: 100px;
     width: 235px;
     background-color: #580b6b;
     color: #fff;

 }

 #result {
     padding: 3px;
     position: absolute;
     text-align: center;
     left: 100px;
     width: 235px;
 }

 .hidden {
     display: none;
 }

 .hidden1 {
     opacity: 0;
 }

 #lessThan {
     transition: all 1s ease-in-out;
 }

 #copy {
     outline: none !important;
     border: none !important;
     padding: 1px;
     transition: none;
     /* background-color: #333 !important; */
 }

 #copy2 {
     position: absolute;
     bottom: -73px;
     left: 191px;
     outline: none !important;
     border: none !important;
     padding: 1px;
     transition: none;
     /* background-color: #333 !important; */
 }

 .notice {
     position: absolute;
     left: -347px;
     top: 90px;
     font-weight: bold;
     text-transform: capitalize;
 }

 #ir {
     position: absolute;
     left: -347px;
     top: 120px;
     font-weight: bold;
 }

 .changeme {
     transition: all 1s ease-in-out;
     background-color: #DDD;
 }

 #copy3 {

     outline: none !important;
     border: none !important;
     padding: 1px;
     transition: none;
 }


























 @media all and (max-width:600px) {
     .super {
         margin: 50px auto;
     }

     .container {
         top: 24px;
         left: 17px;
     }

     #we {
         top: 24px;
         left: 17px;
     }
 }
